html, body {
  background: #fff;
  margin: 0 auto; }

.appTitle {
  font-size: 26px;
  color: #fff; }

.md-fab .fab-icon {
  position: relative;
  top: 5px;
  color: #fff; }

.toolbardemoScrollShrink .face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd; }

/*# sourceMappingURL=main.css.map */
