<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>

    <meta charset="UTF-8">
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <meta charset="utf-8">
    <title>Modeso Evaluation Task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Bower Components -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <!-- Local Styles-->
    <link rel="stylesheet" href="app/styles/main.css"/>
    <!-- CDN Styles -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body ng-controller="IndexCtrl" ng-cloak>
    <div layout="column" class="toolbardemoScrollShrink" role="main">
      <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
        <ng-md-icon class="fab-icon" style="color: #fff;" icon="edit"></ng-md-icon>
      </md-button>

      <md-toolbar ng-if="true" ng-controller="TitleCtrl">
        <div class="md-toolbar-tools">
          <h3>
            <span class="appTitle">{{title}}</span>
          </h3>
        </div>
      </md-toolbar>

      <main class="md-padding" layout="row" flex>
        <md-content flex id="content">
            <div class="fade-view" ui-view="">
            </div>
        </md-content>
      </main>
    </div>



    <!-- 3rd party libraries -->
    <!-- Bower Components -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js"></script>
    <!-- Load controllers -->
    <script src="app/controllers/indexCtrl.js"></script>
    <script src="app/controllers/homeCtrl.js"></script>
    <!-- Load custom filters -->
    <!-- Load custom directives -->
  </body>
</html>