<md-content flex>
</md-content>

<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="70" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Imports</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-list>
            <md-list-item class="md-3-line" ng-repeat="article in articles | filter: {name: article.name, article: article.article, x: article.x, y: article.y, date: article.date}">
              <md-checkbox ng-model="item.done" role="checkbox" aria-label="false"></md-checkbox>
              <div class="md-list-item-text">
                <div class="col-sm-2">{{article.name}}</div>
                <div class="col-sm-2">{{article.article}}</div>
                <div class="col-sm-2">{{article.x}}</div>
                <div class="col-sm-2">{{article.y}}</div>
                <div class="col-sm-2">{{article.date}}</div>
              </div>
              <md-divider inset></md-divider>
            </md-list-item>
          </md-list>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-xs flex-gt-xs="30" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Filters</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
          <md-input-container md-no-float class="md-block">
            <input ng-model="article.name" placeholder="Name">
          </md-input-container>
          <md-input-container md-no-float class="md-block">
            <input ng-model="article.article" placeholder="Article">
          </md-input-container>
          <md-input-container md-no-float class="md-block">
            <input ng-model="article.x" placeholder="X">
          </md-input-container>
          <md-input-container md-no-float class="md-block">
            <input ng-model="article.y" placeholder="Y">
          </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">        
          <md-datepicker ng-model="article.date" md-placeholder="Enter date">
          </md-datepicker>
          <md-button class="md-warn">Search</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>