@import 'colors';

html, body {
  background: $white;
  margin: 0 auto;
}
.appTitle {
  font-size: 26px;
  color: $white;
}

.md-fab {
  .fab-icon {
    position: relative;
    top: 5px;
    color: $white;
  }
}
 
.toolbardemoScrollShrink {
  .face {
    width: 48px;
    margin: 16px;
    border-radius: 48px;
    border: 1px solid #ddd; 
  }
} 